/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/userimages
.env
.idea
/app/views/packages/verilion/vcms/partials/admin-nav.blade.php
/public/newsletter_images
